@use '../utility/mixins/media-query';

.slider {
	overflow: hidden;
	&-row {
		align-items: center;
		display: flex;
		flex-direction: column;
		gap: var(--gap, 2.3rem);
		@include media-query.up(md) {
			flex-direction: row-reverse;
			--gap: 8rem;
		}
		@include media-query.up(lg) {
			--gap: 16rem;
		}
	}
	&-content {
		flex: 1;
		h2,
		p {
			opacity: 0;
			transition: opacity 300ms ease-in-out, transform 300ms ease-in-out;
			.animate & {
				opacity: 1;
				transform: translateY(0);
			}
		}
		h2 {
			transform: translateY(-50%);
			transition-delay: 300ms;
			@include media-query.up(md) {
				max-width: 54.6rem;
			}
		}
		p {
			transform: translateY(-100%);
			transition-delay: 500ms;
			@include media-query.up(md) {
				max-width: 45.6rem;
			}
		}
	}
	&-details {
		flex: 1;
		padding-block-start: 3.5rem;
		position: relative;
		width: 100%;
		@include media-query.up(md) {
			padding-block-start: 18rem;
			flex: 0 0 37%;
			max-width: 37%;
		}
		&::before {
			background-color: var(--color-orange);
			content: '';
			height: 100%;
			position: absolute;
			right: 0;
			transition: width 300ms ease-in-out;
			top: 0;
			width: 0;
			z-index: -1;
			.animate & {
				width: 100%;
			}
		}
		.slides {
			align-items: center;
			display: grid;
			@include media-query.up(md) {
				justify-items: center;
			}
		}
		.slide {
			--image-position: 50%;
			grid: {
				column: 1;
				row: 1;
			}
			padding-inline: 3rem;
			position: relative;
			@include media-query.up(md) {
				padding: {
					block-end: 19.7rem;
					inline: 0;
				}
			}
			ul {
				list-style-type: none;
				padding: 0;
				margin-block: 0;
			}
			img {
				opacity: 0;
				transform: translate(var(--image-position), 50%);
				transition: opacity 300ms ease-in-out, transform 300ms ease-in-out;
				@include media-query.up(md) {
					bottom: 0;
					left: 0;
					max-width: none;
					position: absolute;
				}
			}
			&.active {
				.slide-content {
					opacity: 1;
					transform: translateY(0);
				}
				img {
					--image-position: 0;
					opacity: 1;
				}
			}
			&-content {
				opacity: 0;
				transform: translateY(var(--slide-content, 50%));
				transition: opacity 300ms ease-in-out, transform 300ms ease-in-out;
			}
		}
	}
	&-controls {
		display: flex;
		gap: 2rem;
		right: 3rem;
		opacity: 0;
		position: absolute;
		top: 4.4rem;
		transform: translateY(-50%);
		transition: opacity 300ms ease-in-out 300ms, transform 300ms ease-in-out 300ms;
		z-index: 1;
		.animate & {
			opacity: 1;
			transform: translateY(0);
		}
		.previous {
			transform: rotate(180deg);
		}
	}
}