@use '../utility/variables/colors';

.button {
	align-items: center;
	display: flex;
	gap: 4.5rem;
	&-arrow {
		align-items: center;
		display: grid;
		height: .8rem;
		width: 2.7rem;
		&::before,
		&::after {
			align-self: center;;
			content: '';
			grid: {
				column: 1;
				row: 1;
			}
		}
		&::before {
			background-color: var(--color-link);
			height: 0.2rem;
			width: 100%;
		}
		&::after {
			border: {
				right: .2rem solid var(--color-link);
				top: .2rem solid var(--color-link);
			}
			height: .8rem;
			justify-self: end;
			width: .8rem;
			transform: rotate(45deg);
		}
	}
}