@use '../utility/mixins/media-query';
@use '../utility/variables/spacing';
@use 'sass:meta';
@use 'sass:list';
@use 'sass:math';

@if meta.global-variable-exists(max, $module: 'spacing') {
	.row {
		--row-gap: #{spacing.$gap};
		display: flex;
		&:not(.no-wrap) {
			flex-wrap: wrap;
		}
		row-gap: var(--row-gap);
		margin-inline: calc(-1 * calc(var(--row-gap) * .5));
	}
	@if meta.global-variable-exists(multiple-gaps, $module: 'spacing') {
		@each $size, $gap in spacing.$multiple-gaps {
			.gap-#{$size} {
				--row-gap: #{list.nth($gap, 1)};
				@if list.length($gap) > 1 {
					@include media-query.up(md) {
						--row-gap: #{list.nth($gap, 2)}
					}
				}
				@if list.length($gap) > 2 {
					@include media-query.up(lg) {
						--row-gap: #{list.nth($gap, 3)}
					}
				}
			}
		}
	}
	.row-no-gap {
		display: flex;
		
		&:not(.no-wrap) {
			flex-wrap: wrap;
		}
	}
}
